* {
    background-color: #000;
    color: white;
    box-sizing: border-box;
}

.home-container {
    padding: 30px;
    display: grid;
    grid-template-rows: 35vh 45vh 100vh auto;
    gap: 2rem;
}

.animated-text {
    font-size: 6rem;
    overflow-wrap: normal;
}

.home-button {
    left: 100px;
    background-color: transparent;
    color: white;
    padding: 13px 19px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.home-button:before {
    content: ""; /* Create an empty pseudo-element for the arrow */
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 6px; /* Adjust the positioning of the arrow */
    top: 50%;
    transform: translateY(-50%) rotate(-45deg); /* Rotate the arrow */
}

.home-button:hover {
    background-color: rgba(52, 152, 219, 0.5); /* Add some transparency to the background on hover */
}

.empty {
    background-color: azure;
}